.content-wrap{
  height:100vh;
  display:flex;
  flex-direction: column;
}
.nav-header{
  height:60px;
  background-color:#00bcd4;
  flex-direction: 0;
  flex-shrink: 0;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:0 20px;
  color:#ffffff;
}
.nav-header h3{
  margin:0;
  font-weight: 650;
  font-family: "微软雅黑";
  text-align: center;
}
.nav-header p{
  margin:0;
  cursor:pointer;
}
.nav-header span{
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.06);
  padding:4px 7px;
  border-radius: 8px;
}
@media screen and (min-width:760px) {
   .content-wrap{
     flex-direction: row;
   }
 }
   .Left-Nav{
     width:280px;
     flex-shrink: 0;
     display: flex;
     flex-direction: column;
     background-color: #00bcd4;
     font-size: 20px;

   }
   .Left-Nav h3{
    font-size: 24px;
    font-weight: 600;
    color:#ffffff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    margin:4px 0 0 0;
    padding:20px 0;
    text-align:center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
   }
   .Left-Nav span{
     font-size: 22px;
     padding:4px 7px;
     border-radius: 8px;
     text-shadow: 3px 3px 0 rgba(0,0,0,0.2);
   }
   .Left-Nav a{
    height: 68px;
    display: block;
    transition: all 0.2s;
    cursor:pointer;
    padding:10px 18px;
    color:#ffffff;
    text-decoration: none;
  }
  .Left-Nav a:hover{
    border-left: 3px solid #00bcd4;
    background-color: rgba(0, 0, 0, 0.2);;
  }
  .Left-Nav a:link,.Left-nav a:visited,.Left-nav a:hover,.Left-nav a:active{
    color:#FFFFFF;
    text-decoration: none;}
.content-main{
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
}
.home-container{
  background-image: url(./images/bgc.jpg);
  background-position: 50% 50%;
  display: flex;
  width: 100%;
}
.home-cover{
  width: 100%;
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
}
.home-item{
  color:#fff;
  text-align: center;
  margin: 0 auto;
}
.home-btn{
  border: none;
  border-radius: 2px;
  display: inline-block;
  border-radius: 2px;
  height: 36px;
  min-width: 100px;
  font-size: 16px;
  color: #fff;
  background-color: #FF4081;
  text-transform: uppercase;
}
.home-btn:hover{
  background-color: #00bcd4;
}
.home-item h1{
   font-size: 46px;
   color:#ffffff;
   font-weight: 600;
}
.home-item p{
  margin:25px 0  35px 0;
  font-size: 16px;
  font-weight: 300;
  color:#ffffff;
}
.home-container span{
  color:#00bcd4;
}
.nav-footer{
  height:60px;
  background-color: #00bcd4;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color:#ffffff;
  font-size: 16px;
}
.nav-footer p{
  flex-grow: 1;
  margin:0;
}
.nav-footer a{
  line-height: 18px;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
  margin-top: 6px;
  color:#ffffff;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.footer a:link{
  color:#ffffff;
  text-decoration: none;
}

.footer span{
  font-size:16px;
}

.content-main{
  background-color: #ffffff;
  flex-grow: 1;
  overflow-y:scroll;
}
